body {
    background-color: #2a2226;
    color: #fefefe;
    font-family: Torus,Inter,"Helvetica Neue",Tahoma,Arial,"Hiragino Kaku Gothic ProN",Meiryo,"Microsoft YaHei","Apple SD Gothic Neo",sans-serif;
}

.loading {
    font-size: xx-large;
    margin: auto;
    padding: 0;
    width:min-content;
    align-content: center;
    display: flex;
}

.score_element {
    margin: auto;
    width: 1000px;
    display: flex;
    margin-bottom: 15px;
    padding: 15px;
    background-color: hsl( 333 ,10%,25% );
    border: 0;
    border-radius: 10px;
    font-size: 14px;
}

.score_element a {
    color: #d3a1b7;
    text-decoration-line: none;
    cursor: pointer;
}
.score_element a:hover {
    text-decoration-line: underline;
    color:#dab3c5;
}

.score_bg {
    position: relative;
    width: max-content;
    height: max-content;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
}
.score_bg_picture {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}

.score_bg_picture img {
    border-radius: 10px;
    width: 175px;
}

.score_bg_preview_play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score_bg_preview_play button {
    opacity: 0.2;
}

.score_bg_preview_play button:hover {
    opacity: 0.8;
}

.play-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 50px;
}

.play-button img {
    width: 100%;
    height: 100%;
}

.score_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
.score_efficiency,
.score_combo,
.score_accuracy,
.beatmap_stars,
.beatmap_length {
    margin-bottom: 5px;
}

.daily {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #382e32;
    border-radius: 10px;
    width: max-content;
    margin: 15px auto 15px auto;
}

h2 {
    display: block;
    align-self: center;
    margin: auto;
    font-size: xx-large;
}

.topic {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    font-size: larger;
}

.lastday_daily, .today_daily {
    padding: 0px 25px 0px 25px;
}

.positive {
    color: #00c947;
}

.negative {
    color: #e35858;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}